<div class="container">
  <!-- Client menu -->
  <div class="row" style="margin-top:12px;">
    <div class="col-md-8">
      <input type="text"

             class="form-control"
             style="width: 100%;"
             placeholder="Search clients...">
    </div>


  </div>

  <!-- Client content -->
  <div class="row" style="margin-top: 28px;">
    <div class="col-md-3">
      <br>
      <div class="list-group list-group-flush">
        <a (click)="getAllClients()" class="list-group-item list-group-item-action">
          <i class="fas fa-folder"></i>&nbsp;All
        </a>
        <!-- Client List -->

        <a *ngFor="let client of clients" (click)="selectClient(client)" class="list-group-item list-group-item-action">
          <i class="fas"></i>&nbsp;
          <input [(ngModel)]="client.name" (change)="updateClient(client)" type="text" class="input-label"
                 style="width: 80%"/>
          <a (click)="deleteClient(client)" class="pull-right text-danger">
            <i class="fas fa-trash-alt"></i>
          </a>
        </a>

      </div>
      <br>
      <br>
      <br>
      <div class="col-md-4">
        <button type="button"
                (click)="createClient()"
                class="btn btn-info pull-left"
                style="margin-left:12px;"><i class="fa fa-plus"></i> New client
        </button>
        <button type="button"
                (click)="createEquipment(selectedClient.id)"
                [disabled]="selectedClient==null"
                class="btn btn-primary pull-left"
                style="margin-left:12px;"><i class="fa fa-plus"></i> New equipment
        </button>

      </div>
    </div>

    <!-- Equipment Panel -->
    <div class="col-md-9">
      <div class="row">

        <div *ngFor="let equipment of equipmentList" class="card bg-warning" style="border:4px solid white;">
          <div class="card-body" style="padding: 8px; margin-top: 8px;">
            <div>
              <!-- title -->
              <input type="text"
                     [(ngModel)]="equipment.model"
                     (change)="updateEquipment(equipment)"
                     class="input-label-lg"
                     maxlength="18" style="width: 80%"
              />
              <a (click)="deleteEquipment(equipment)" class="pull-right text-danger">
                <i class="fas fa-trash-alt"></i>
              </a>
            </div>
            <!-- text -->
            <textarea class="input-label"
                      style="width: 100%" rows="1"
                      [(ngModel)]="equipment.type"
                      (change)="updateEquipment(equipment)"></textarea>
            <textarea class="input-label"
                      style="width: 100%" rows="1"
                      [(ngModel)]="equipment.brand"
                      (change)="updateEquipment(equipment)"></textarea>
            <textarea class="input-label"
                      style="width: 100%" rows="1"
                      [(ngModel)]="equipment.code"
                      (change)="updateEquipment(equipment)"></textarea>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
