<div class="container">
  <!-- Client menu -->
  <div class="row" style="margin-top:12px;">
    <div>
      <input type="text"
             [(ngModel)]="searchText"
             class="form-control"

             placeholder="Search clients...">
    </div>

  </div>
  <!-- search bar result-->
  <div class="row">
    <ul>
      <li *ngFor="let client of clients | clientTextFilter:searchText" (click)="selectClient(client)"
          class="list-group-item list-group-item-action">
        {{client.name}}
      </li>
    </ul>

  </div>

  <!-- Client content -->
  <div class="row" style="margin-top: 28px;">
    <div class="col-md-3">
      <br>
      <div class="list-group list-group-flush">
        <a (click)="getAllClients()" class="list-group-item list-group-item-action">
          <i class="fas fa-folder"></i>&nbsp;All
        </a>
        <!-- Client List -->

        <a *ngFor="let client of clients" (click)="selectClient(client)" class="list-group-item list-group-item-action">
          <i class="fas"></i>&nbsp;
          <input [(ngModel)]="client.name" (change)="updateClient(client)" type="text" class="input-label"
                 style="width: 80%"/>
          <a (click)="deleteClient(client)" class="pull-right text-danger">
            <i class="fas fa-trash-alt"></i>
          </a>
        </a>

      </div>
      <br>
      <br>
      <br>

    </div>

    <div class="col-md-9">
      <app-new-client-form></app-new-client-form>
    </div>

    <!-- Equipment Panel
     -->
  </div>
</div>
