<div class="row" style="margin-top: 28px;">
  <div class="col-md-12">
    <div class="col-md-6">
      <button type="button"
              (click)="createNotice()"
              class="btn btn-info pull-left"
              style="margin-left:12px;"><i class="fa fa-plus"></i> Register new notice
      </button>

    </div>
    <br>
    <div class="list-group list-group-flush">
      <a (click)="getAllNotices()" class="list-group-item list-group-item-action">
        <i class="fas fa-cog"></i>&nbsp;All notices
      </a>
      <!-- Notice List -->

      <a *ngFor="let notice of notices" class="list-group-item list-group-item-action">
        <i class="fas"></i>&nbsp;
        <input [(ngModel)]="notice.clientId" type="text" class="input-label"
               style="width: 80%"/>
        <input [(ngModel)]="notice.equipmentId" type="text" class="input-label" style="width: 80%"/>

        <input [(ngModel)]="notice.description" type="text" class="input-label" style="width: 80%"/>
        <input [(ngModel)]="notice.status" type="text" class="input-label" style="width: 80%"/>
        <input [(ngModel)]="notice.registerDate" type="text" class="input-label" style="width: 80%"/>

      </a>

    </div>
    <br>
    <br>
    <br>

  </div>
