<div class="row" style="margin-top: 28px;">
  <div class="col-md-12">
    <div class="col-md-6">
      <app-new-notice-form></app-new-notice-form>

    </div>
    <br>
    <div class="list-group list-group-flush">
      <a (click)="getAllNotices()" class="list-group-item list-group-item-action">
        <i class="fas fa-cog"></i>&nbsp;All notices
      </a>
      <!-- Notice List -->

      <div *ngFor="let notice of notices" class="list-group-item list-group-item-action">
        <!--notice header-->
        <div class="card-header">
          <label>
            <input type="text"
                   [(ngModel)]="notice.clientId"
                   class="input-label-lg"
                   maxlength="18" style="width: 80%"/>
          </label>
          <a (click)="deleteNotice(notice)" class="pull-right text-danger">
            <i class="fas fa-trash-alt"></i>
          </a>
        </div>
        <div class="card-body" style="padding: 8px; margin-top: 8px;">
          <div>
            <!-- card title -->
            <label>
              <input type="text"
                     [(ngModel)]="notice.equipmentId"
                     class="input-label-lg"
                     maxlength="18" style="width: 80%"
              />
            </label>

          </div>
          <!-- card content-->
          <textarea class="input-label"
                    style="width: 100%" rows="1"
                    [(ngModel)]="notice.description"></textarea>
          <textarea class="input-label"
                    style="width: 100%" rows="1"
                    [(ngModel)]="notice.status"
                    (change)="updateNotice(notice)"></textarea>
          <div class="date" [(ngModel)]="notice.registerDate"></div>
        </div>

      </div>

    </div>
    <br>
    <br>
    <br>

  </div>
</div>
