<div class="container-fluid">
  <div class="jumbotron">

    <button (click)="toggle()" id="bt" class="btn btn-info ">
      <i class="fa fa-cog"></i> New notice
    </button>
    <h2></h2>
    <ng-container *ngIf="show">
      <h2>Add new notice</h2>
      <form novalidate [formGroup]="form" (ngSubmit)="createNotice()">

        <div class="form-group">
          <label for="clientId">
            Client:
          </label>
          <select id="clientId"
                  formControlName="clientId"
                  class="form-control">
            <option *ngFor="let client of clients" [ngValue]="client.id">{{client.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label>
            Equipment:
          </label>
          <input type="text"
                 formControlName="equipmentId"
                 class="form-control">
        </div>

        <div class="form-group">
          <label>
            Description:
          </label>
          <input type="text"
                 formControlName="description"
                 class="form-control">
        </div>

        <div class="form-group">
          <label>
            Status:
          </label>
          <input type="text"
                 formControlName="status"
                 class="form-control">
        </div>


        <div class="form-group">
          <label>
            Date:
          </label>
          <input type="date"
                 formControlName="registerDate"
                 class="form-control">
        </div>



        <div style="text-align: center">
          <button type="submit" name="button"
                  class="btn btn-info pull-right"
                  style="margin-left:12px;"><i class="fa fa-plus"></i> Register new notice
          </button>
        </div>

      </form>
    </ng-container>
  </div>
</div>

